:root {
    --white: #ffffff;
    --blackText: #434B65;
    --greyText: #ADAEB4;
    --otherGrey: #9AA6CE;
    --activeBlue: #008EFF;
    --navLink: #43ACFF;
    --lightMint: #e8f5f580;
    font: 20px 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

.page-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:  5% 5% 15%;
    grid-template-rows: 7vh 93vh;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "n a a m m m m m m m m m";
}

.header {
    grid-area: h;
    background: #fff;
    font-size: 18px;
    display: flex;
    box-shadow: 0 5px 25px -5px var(--greyText);
}

.header a {
    padding-left: 35px;
    display: flex;
    align-items: center;
    font-size: 24px;
    width: 23%;
    text-decoration: none;
    color: #0271EE;
}


.header .logo {
    width: 40px;
    height: 45px;
}

.header .search {
    width: 52%;
    display: flex;
    align-items: center;
}

.header .search i {
    border-left: 2px solid rgba(169, 179, 210,0.502);
    padding: 7px;
    color: rgba(169, 179, 210, 0.7);
    font-size: 24px;
    -webkit-text-stroke: 2px var(--white);

}

.search input {
    font-size: 18px;
    border: 0;
    outline: none;
    padding-left: 5px;
}

::placeholder { /* Firefox, Chrome, Safari */
    color: #A9B3D2;
 
  }

::-ms-input-placeholder { /* Microsoft Edge , Internet Explorer 10-11*/
    color: #A9B3D2;
   }
   

.header .staff-options {
    width: 24%;
    display: flex;
    height: 100%;
    align-items: center;
}

.staff-options .create-documentation {
    padding: 15px;
    margin-right: 40px;
    background: linear-gradient(101.3deg, #F46B45 0%, #EEA849 100%);
    border: 0px;
    border-radius: 6px;
    outline: none;
    color:  var(--white);
    cursor: pointer;
    font-size: 15px;

}

button.create-documentation:hover {
    box-shadow: 4px 7px rgba(232, 245, 245, 0.8);
}



.staff-options .doctor-staff {
    display: flex;
    align-items: center;
}

.doctor-staff img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.doctor-staff p {
    cursor: pointer;
    color: var(--otherGrey);
    font-size: 18px;
}

.sideMenu {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: n;
    background: linear-gradient(180deg, #0072ff 35%, #00C6FF 85%);
}

.sideMenu .icons {
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
}

.icons .icon {
    height: 8%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons .icon:hover {
    border-left: 4px solid #2be1cb;
    color: #2be1cb;
}

.icons i {
    font-size: 26px;
    cursor: pointer;
    
}

.icons .arrow-right {
    margin-top: auto;
    height: 3%;
    text-decoration: underline;
}

.icons .arrow-right:hover {
    color: #0072FF;
}

/*
    Patients List
*/

.aside {
    position: relative;
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    color: var(--blackText);
    box-shadow: 0 -1px 0px 0px rgba(107, 105, 105, 0.1);
}

.aside .patientOption {
    position: relative;
    top: 0;
    width: 80%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.patientOption p, .main p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--blackText);
}

.patientOption select, .doctor-staff select {
    border: 0px;
    background: none;
    outline: none;
    font-size: 15px;
    color: var(--otherGrey);
    cursor: pointer;
}

.doctor-staff > select {
    font: 30px;
}

.patientOption i {
    -webkit-text-stroke: 1px var(--white);
}

.patientList {
    overflow-y: auto;
    overflow-x: hidden;
    width: 80%;
    height: 93%;
    padding-top: 10px;
}

.patientList::-webkit-scrollbar {
    background-color:#fff;
    width:8px
}

.patientList::-webkit-scrollbar-track {
    background-color:#fff
}

.patientList::-webkit-scrollbar-thumb {
    background-color:rgba(169, 179, 210,0.2);
    border-radius:16px;
    border:1px solid #fff;
}


.patient {
    display: flex;
    width: 100%;
    height: 6vh;
    align-items: center;
    padding: 10px 5px;
    margin-bottom: 10px;
}

.patientList .patient:hover{
    border-radius: 6px;
    background: #e8f5f580;
    cursor: pointer;
}

.patient .imageholder {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: var(--white);
}

.gradientpadding {
    padding: 1px;
}

.patient .imageholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.imageholder p {
    font-weight: 500;
}

#gradientJ {
    background: linear-gradient(180deg, #A26FED  0%,#EE86BF  90%);
}

#gradientL {
    background: linear-gradient(180deg, #F25555 0%, #FB72AE 70%);
}

#gradientR {
    background: linear-gradient(180deg, #B482D3  0%, #A2ACF1  90%);
}

#gradientC {
    background: linear-gradient(180deg, #FFB064  0%, #FFE35A 75%);
}


.patient .patientName {
    width: 70%;
}

.patientName i {
    -webkit-text-stroke: 1px var(--white);
}

.patientName small {
    font-size: 14px;
    color: var(--greyText);
}


/*
    Main Area
*/

.main {
    grid-area: m;
    background: #daebeb80;
    overflow-y: auto;
    overflow-x: hidden;
}

.main .patient {
    width: 50%;
    height: 12vh;
}

.main .imageholder {
    margin-left: 40px;
    width: 73px;
    height: 73px;
    box-shadow: 0 6px 40px -5px var(--greyText);
}

.main nav {
    width: 100%;
    height: 4vh;
    display: flex;
    padding-left: 40px;
    box-shadow: 0px 1px var(--otherGrey);
}

.main .navLinks {
    display: flex;
    width: 45%;
    height: 100%;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
    color: var(--navLink);
}

.navLinks a:focus {
    height: 100%;
    border-bottom: 2px solid #008EFF;
}

/*
    Patient Details Page
*/
.patientRelative {
    padding-left: 40px;
}

.patientRelative > p, .patientDiagnoses > p{
    font-size: 14px;
    font-weight: 500;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.relatives {
    width: 85%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.relatives .relative {
    width: 30%;
    height: 100%;
    border-radius: 9px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.4;
}

#add-relative {
    background: none;
    border: 2px dashed #A9B3D2;
    justify-content: center;
}
#add-relative a {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-relative p {
    font-size: 16px;
}

#add-relative img {
    width: 90px;
    height: 90px;
}

.relative img {
    width: 73px;
    height: 73px;
    border-radius: 50%;
    margin-top: 50px;
} 

.relative .relName {
    color: var(--blackText);
    font-weight: 400;
}

.relative p {
    width: 90%;
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 0px;
    color: var(--greyText);
}

.relative small {
    font-size: 14px;
    color: var(--greyText);
    width: 70%;
}

.contact-icons {
    height: 73px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0;
}

.contact-icons i {
    padding: 15px;
    background: #daebeb80;
    border-radius: 50%;
}

.contact-icons i.fa-phone {
    color: #33CDBA;
}

.availability {
    margin-top: 20px;
}

.contact-icons i.fa-envelope {
    color: #43ACFF;
}

.diagnoses {
    width: 85%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.diagnoses .diagnosis {
    width: 45%;
    background-color: var(--white);
    border-radius: 9px;
    padding: 20px;
}

.description {
    width: 95%;
    display: flex;
    justify-content: space-between;
    color: var(--blackText);
    line-height: 20px;
}

.description p {
    font-size: 14px;
    font-weight: 300;
    width: 85%;
}

.description i {
    width: 10%;
    text-align: right;
    color: var(--greyText);
    cursor: pointer;
}

p.desc-date {
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
    color: var(--greyText);
}


/*
    Calendar Page
*/

.calendar-wrapper {
    width: 85%;
    height: 65vh;
    margin-left: 40px;
    margin-top: 40px;
    background-color: var(--white);
    border-radius: 9px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
                        "y y y y y y y"
                        "31 1 2 3 4 5 6"
                        "7 8 9 10 11 12 13"
                        "14 15 16 17 18 19 20"
                        "21 22 23 24 25 26 27"
                        "28 29 30 31 1 2 3";
}

.month-year {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-wrapper {
    width: 97%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--otherGrey);
}

.my-wrapper > * {
    background: none;
    border: none;
    font-weight: 700;
}

.my-wrapper .month {
    width: 10%;
}

.my-wrapper .year {
    width: 7%;
}

.my-wrapper > select:focus {
    outline: none;
}

.days {
    display: flex;
    width: 97%;
    height: 50%;
    align-items: center;
    
}

.days > p {
    width: 14.29%;
    font-size: 18px;
    color: var(--greyText);
}

.days > p:not(:first-child) {
    padding-left: 15px;
}

.day {
    padding: 15px;
    border-top: 0.5px solid #dddada;
    border-right: 0.5px solid #dddada;
    color: var(--otherGrey);
    font-weight: 700;
}

.grey {
    color: var(--greyText);
}

.out {
    color: #dddada;
}

.no-right {
    border-right: none;
}

.day > p {
    font-size: 18px;
    font-weight: 700;
    color: var(--otherGrey);
    margin-bottom: 30px;
}

span.badge {
    font-size: 16px;
    color: var(--white);
    padding: 5px ;
    background-color: rgba(242, 85, 85, 0.8);
    border-radius: 7px;
}

span.uzi {
    background-color: rgba(238, 169, 73, 0.8);
}

span.green {
    background-color: rgba(4, 167, 99, 0.8);
}


/*
    Documentation Page
*/
 .cases-documentation {
     width: 85%;
     margin-top: 40px;
     margin-left: 40px;
 }

 .case-title, .cases {
     width: 100%;
 }

 .case-title > p {
    color: var(--otherGrey);
 }

 .case-title, .case {
     display: flex;
     height: 10vh;
     align-items: center;
     color: var(--otherGrey);
 }

 .case-title > *, .case > * {
     width: 22.5%;
     font-size: 22px !important;

 }

 .cases-documentation input[type="checkbox"]{
    width: 30px;
    height: 30px; 
    cursor: pointer;
    margin: 0 20px;
  }

  .case-title input[type="checkbox"] {
      margin-left: 27px;
  }


 .cases {
     overflow-y: auto;
     height: 65vh;
 }

 .cases::-webkit-scrollbar {
    background-color:#fff;
    width:10px;
    
}

.cases::-webkit-scrollbar-track {
    background-color:#fff
}

.cases::-webkit-scrollbar-thumb {
    background-color:rgba(169, 179, 210,0.2);
    border-radius:16px;
    border:1px solid #fff;
}


 .case {
     background-color: var(--white);
     margin-bottom: 15px;
     border-radius: 9px;
 }
 .case > p {
    color: var(--otherGrey);
 }

 .blue {
     border-left: 9px solid #008EFF;
 }

 .green {
    border-left: 9px solid #2be1cb;
 }

 .cases-documentation select {
    border: 0px;
    background: none;
    outline: none;
    font-size: 15px;
    
    cursor: pointer;
 }